.about {
  display: flex;
  justify-content: center;
}
.about__container {
  max-width: 1000px;
  margin: 25vh 3rem;
  background: var(--light);
  padding: 1rem;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.221));
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas:
    "."
    "about__grid"
    "button";
}
.about__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  grid-area: about__grid;
}

@media screen and (max-width: 600px) {
  .about__grid {
    display: block;
  }
  .about__container {
    margin: 25vh 1rem;
  }
}

.about__cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__creator {
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
}
.button {
  background: var(--dark);
  color: var(--light);
  border: none;
  padding: 1rem 2rem;
  margin-left: auto;
  text-transform: uppercase;
  transition: 0.5s;
  cursor: pointer;
  grid-area: button;
}
.button:hover {
  background: var(--light);
  color: var(--dark);
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.236));
  transform: scale(1.05);
}
.about__triangle {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%) rotate(-22deg) scale(0.5);
}
