.top_section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: end;
  min-height: 50vh;
  justify-content: center;
  padding-top: 100px;
  background: var(--light);
  position: relative;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.2rem;
}
.scroll_icon {
  animation: bounce;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}
.scroll_icon--fadeIn {
  opacity: 0;
  animation: fadeInScroll forwards;
  margin: 0 auto;
  animation-duration: 1s;
  animation-delay: 0.5s;
  transform: translateY(25px);
}
@keyframes fadeInScroll {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  5% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  15% {
    transform: scale(0.9, 1.1) translateY(-50%);
  }
  25% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  30% {
    transform: scale(1, 1) translateY(-30%);
  }
  35% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
.section__heading {
  rotate: 90deg;
  font-family: "Bebas Neue", cursive;
  position: absolute;
  margin: 0;
  font-size: 2rem;
  left: 1rem;
}
.section__heading::before {
  position: absolute;
  content: "";
  height: 5px;
  width: 6rem;
  background-color: var(--dark);
  opacity: 0.5;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 600px) {
  .section__heading {
    rotate: 0deg;
    position: unset;
    text-align: center;
  }
  .section__heading::before {
    right: inherit;
  }
}
.projects {
  width: 100vw;
  height: 100vh;
  background: var(--dark);
  color: var(--light);
  display: flex;
  justify-content: center;
}
.projects h2{
  letter-spacing: 1rem;
  margin-top: 20vh;
}