.projects__container {
  height: 500vh;

}

.projects__transition {
  z-index: 1;
  position: absolute;
  width: 100vw;
  height: 150vh;
  background: var(--dark);
  color: var(--light);
  display: flex;
  justify-content: center;
}

.projects {
  position: relative;
}

.projects__transition h2 {
  letter-spacing: 1rem;
  margin-top: 20vh;
}
