.projects__container {
}

.projects__transition {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: var(--dark);
  color: var(--light);
  display: flex;
  justify-content: center;
}

.projects {
  position: relative;
}

.projects {
}
.projects__transition h2 {
  letter-spacing: 1rem;
  margin-top: 20vh;
}
